# compiled output
dist
dist-*
tmp
out-tsc

# dependencies
node_modules

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# misc
npm-debug.log
*.log

# System Files
.DS_Store
Thumbs.db

.serverless
.env
